.messages {
  display: flex;
  max-width: 80%;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column;
}

.message {
  align-self: flex-end;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  background-color: #3e67e3;
  border-radius: 20px 20px 0px 20px;
  padding: 20px;
  margin: 10px;
  color: #fff;
  max-width: 50%;
}

.info_messages {
  padding: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  align-self: center;
  color: #000;
}

.incoming_messages {
  align-self: flex-start;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  border-radius: 20px 20px 20px 0;
  padding: 20px;
  margin: 10px;
  color: #000;
}
