.main {
  width: 0;
  height: 100vh;
  background-color: rgb(232, 233, 239);
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.6s;
  transform-origin: right;
  width: 0;
  transform: scaleX(0);
}
.open {
  transform-origin: right;
  transform: scaleX(1);
  overflow-y: scroll;
  width: 20%;
}
.main-outside {
  width: 100%;
  height: 100%;
  padding-right: 35px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.content {
  padding: 40px 10px 40px 35px;
}
.user {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}
.user-avatar {
  margin: 0 auto;
  background: linear-gradient(to top, #5a5cd8, #9198e5);
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 100%;
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: 700;
  pointer-events: none;
  user-select: none;
}
.user-name {
  color: #000000;
  margin: 15px 0;
  font-size: 22px;
  font-weight: 700;
}
.user-email {
  color: rgba(0, 0, 0, 0.4);
  font-size: 17px;
  margin-bottom: 20px;
}
.user-icons {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.user-icon {
  color: rgba(0, 0, 0, 0.4);
}
.social {
  margin-top: 50px;
}
.social-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.social-block {
  border-radius: 7px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.social-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 10px;
}
.social-item:last-child {
  margin-bottom: 0;
}
.social-item:hover {
  background-color: rgb(230, 230, 230);
  background-position: 50%;
  transition: background 0.7s;
}

.social-icon {
  color: #7d7c7c;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
}
.media {
  margin: 50px 0 30px;
}
.media-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.media-block {
  border-radius: 7px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.media-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 8px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}
.media-item:hover {
  background-color: rgb(230, 230, 230);
}
.media-item:last-child {
  margin-bottom: 0;
}
.media-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: linear-gradient(to top, #5a5cd8, #9198e5);
  margin-right: 10px;
}
.text {
  font-size: 18px;
  font-weight: 700;
}
