.sidebar {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  background-color: rgb(232, 233, 239);
  min-width: 350px;
  padding: 30px 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contacts {
  margin: 0;
  background-color: rgb(232, 233, 239);
  width: 100%;
  padding-top: 70px;
}

.contact {
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
  z-index: 1;
  justify-content: space-between;
}

.contact:hover {
  background-color: ghostwhite;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.activeContact {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.name {
  flex: 1;
  margin-left: 30px;
}

.materialIcons {
  color: cornflowerblue;
  font-size: 35px;
  margin-right: 5px;
}

.circle {
  background-color: cornflowerblue;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100px;
  text-align: center;
  margin-right: 8px;
  color: white;
}

.greenCircle {
  position: relative;
  bottom: 50px;
  left: 35px;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: limegreen;
  border: 2px solid white;
}

.formContainer {
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: rgb(232, 233, 239);
  padding: 5px 0;
  min-width: 350px;
}

.form {
  font-size: 16px;
  padding: 15px 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: gray;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

.form:active {
  border: none;
}

.flex {
  display: flex;
}

.inputWithIcon {
  position: relative;
  align-items: center;
}

.inputWithIcon i {
  position: absolute;
  top: 8px;
  padding: 6px 8px;
  color: gray;
}

.ellipsis {
  display: none;
}

.contact:hover .ellipsis {
  display: block;
}

.contact:hover .time {
  display: none;
}
